@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .animation-delay-100 {
    animation-delay: 0.1s;
  }
  .animation-delay-120 {
    animation-delay: 0.12s;
  }
  .animation-delay-140 {
    animation-delay: 0.14s;
  }
  .animation-delay-160 {
    animation-delay: 0.16s;
  }
  .animation-delay-180 {
    animation-delay: 0.18s;
  }
}

:root {
  --gutter-bg: #6b7280;
  --gutter-bg-border: #f9fafb;
}

.dark {
  --gutter-bg: #010409;
  --gutter-bg-border: #1e1e1e;
}

.gutter-horizontal {
  background-color: var(--gutter-bg);
  width: 2px;
  border: solid;
  border-width: 0 3px;
  border-color: var(--gutter-bg-border);
  cursor: grab;
  opacity: 50%;
}

.gutter-horizontal:hover {
  opacity: 100%;
}

.gutter-vertical {
  background-color: var(--gutter-bg);
  height: 2px;
  border: solid;
  border-width: 3px 0;
  border-color: var(--gutter-bg-border);
  cursor: grab;
  opacity: 50%;
}

.gutter-vertical:hover {
  opacity: 100%;
}

#split-horizontal-right {
  display: flex;
  flex-direction: column;
  height: 100%; /* 親コンテナの高さにフィット */
  width: 100%;
}

.monaco-editor-container {
  flex: 1;
  overflow: hidden; /* Monaco Editorの余計なスクロールを防止 */
}
